
@use '@angular/material' as mat;

// Table Row
$app-row-hover: rgba(173, 245, 230, .2);

// highlight button color
$light-button-active-glow: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette,600));



/* LIGHT */
@keyframes glowBtnDoggle {
  from {
    box-shadow: 0 0 1px gray, 0 0 3px gray;
  }

  to {
    box-shadow: 0 0 2px $light-button-active-glow, 0 0 3px $light-button-active-glow, 0 0 5px $light-button-active-glow, 0 0 7px $light-button-active-glow;
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.5;
  }

  40% {
    opacity: 1;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgba(173, 245, 230, .7) 0px 0px 10px 10px, rgba(255, 255, 255, 10) 0px 0px 0px 10px;
  }

  /* Large inner white circle at end 6px, with stronger color but smaller thickness color band wripple effect*/
  100% {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 6px, rgba(173, 245, 230, 1) 0px 0px 10px 10px, rgba(255, 255, 255, 10) 0px 0px 0px 10px;
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes glowBtn {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px #1b6ec2, 0 0 6px #1b6ec2, 0 0 9px #1b6ec2, 0 0 8px #1b6ec2;
  }
}

@keyframes glowText2 {
  from {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    text-shadow: 0 0 1px #ffc107, 0 0 2px #ffc107, 0 0 6px #ffc107, 0 0 4px #ffc107;
  }
}

@keyframes glowText {
  from {
    color: gray;
  }

  to {
    color: #ffc107;
  }
}

@keyframes glowBtnAlert {
  from {
    box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #fff;
  }

  to {
    box-shadow: 0 0 3px crimson, 0 0 6px crimson, 0 0 9px crimson, 0 0 8px crimson;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation-alt {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}



/* DARK */
@keyframes glowDark {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #1b6ec2, 0 0 13px #1b6ec2, 0 0 15px #1b6ec2, 0 0 18px #fff;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #FFF, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 15px #ff4da6, 0 0 17px #ff4da6, 0 0 20px #fff;
  }
}

@keyframes glow2Dark {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #28a745, 0 0 7px #28a745;
  }

  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #FFF, 0 0 5px #ff4da6, 0 0 7px #ff4da6;
  }
}

@keyframes glowBtnDoggleDark {
  from {
    box-shadow: 0 0 1px gray, 0 0 2px gray
  }

  to {
    box-shadow: 0 0 2px #353741, 0 0 3px #353741;
  }
}

@keyframes sonarEffectDark {
  0% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgb(26, 28, 39), 0 0 0 10px rgba(255,255,255,0.5);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgb(26, 28, 39), 0 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.2);
    opacity: 0;
  }
}

