<div class="section section1">  
  <div>
    <h1>Continuous improvement philosophy</h1>
    <p>
      <span>Always be Learning</span>
      <br />
      <span>Our lifelong passion is system development, encompassing over 20 years specialising in API-first, multi-tier Angular applications with .Net C# server-side architecture</span>
      <br />
      <span>Require test driven dev expertise, use of SOLID design principles? Contact Peter today for a deep dive into your problem solving needs.</span>
      <br />
    </p>
  </div>
  <img src="./images/angular.jpg" />
</div>

<div class="strip">
  <div class="content portfolio">
    <h2>~~~ Our Client Portfolio ~~~</h2>
  </div>
  <div class="stripRow">
    <div class="client">
      <a href="https://www.dllgroup.com/ie/en-ie" target="_blank"><img src="./images/DLL2.jpg" /></a>
    </div>

    <div class="client">
      <a href="https://www.failteireland.ie/" target="_blank"><img src="./images/FI_logo.svg" /></a>
    </div>

    <div class="client">
      <a href="https://hasintegration.ie/about/" target="_blank"><img src="./images/Has-Logo.svg" /></a>
    </div>

    <div class="client">
      <a href="https://arrecifal.com" target="_blank" style="background-color:#3283c4"><img src="./images/arrecifal-logo-blanco.png" /></a>
    </div>

    <div class="client">
      <a href="https://www.virtu.com/" target="_blank"><img src="./images/investment_technology_group_logo_1.png" /></a>
    </div>

    <div class="client">
      <a href="https://www.medpro.ie/" target="_blank"><img src="./images/medpro_logo-300x102.png" /></a>
    </div>

    <div class="client" style="background-color: #004D44; border-radius: 8px;">
      <a href="https://www.gov.ie/en/publication/774e2-national-development-plan-2021-2030/" target="_blank"><img src="./images/gov.png" /></a>
    </div>
  </div>

</div>

<div class="section section2">
  <img src="./images/stack.jpg" />
  <div>
    <h2>Tech Stack</h2>

    <span>We build cutting-edge tech from API driven, multi-tier systems to hybrid Web 2 - Web 3 decentralised apps, cloud based or in-house hosting, with full stack development.</span>
  </div>
</div>

<div class="strip">
  <div class="content proprietary">
    <h2>~~~ Our proprietary tech ~~~</h2>
  </div>
  <div class="stripRow product">
    <div class="client">
      <a href="https://www.transforms.ie" target="_blank"><img src="./images/TransForms_2010Logo2.png" /></a>
    </div>

    <div class="client" style="background-color: #1a1c27;">
      <a href="https://www.metaverseMax.com" target="_blank"><img src="./images/circle-cropped.png" /></a>
    </div>

    <div class="client">
      <a href="https://www.transforms.ie" target="_blank"><img src="./images/newCollegeLogo-transparent2.png" /></a>
    </div>

  </div>

</div>
