.section {
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.section1{
  display:flex;
  flex-direction:row;
}
  .section img {
    width: 40%;
    align-self: center;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

.section2 {
  display: flex;
  flex-direction: row;
}


h1, h2, p, span {
  /*font-family: Basel*/
  font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif
}
span{
  font-size:17px;
}

p{
  line-height: 1.5rem;
}

p span{
  display: inline-block;
  margin-bottom: 8px;
}

.strip {
  margin-bottom: 30px;
  padding-top: 4px;
}
  .strip .content {
    background-color: #3283c4;
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 6px;
  }
  .strip h2 {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    letter-spacing: .1rem;

  }
  .strip .client {
    z-index: 1;
    position: relative;
    color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin-right: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
  }


.portfolio {
  height: 300px
}

.proprietary {
  height: 180px
}


.client:hover
{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.6);
}

.client a {
  display: flex;
  justify-content: center;
}
.client img {
  height: 80px;
  max-width: 90%;
}
.product .client img {
  height: 80px
}

.stripRow {
  display: flex;
  flex-direction: row;
  padding-top: 44px;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 1400px) {
  .portfolio {
    height: 410px
  }
}

@media only screen and (max-width: 1200px) {
  .portfolio {
    height: 540px
  }

  .proprietary {
    height: 290px
  }
}

@media only screen and (max-width: 426px) {
  .section1, .section2{
    flex-direction:column
  }
  .section1{
    flex-direction:column-reverse
  }
  .section img {
    width: 100%;
  }
  .section {
    width: unset;
    margin: unset;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  span {
    font-size:14px;
  }

  .strip .client{
    width: 170px
  }
  .portfolio{
    height: 530px
  }
  .proprietary {
    height: 290px
  }

}
